include ./components/_index
include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")

        +meta-desc("Just a description for (Multi Step Form) project!")

        +meta-words("HTML, PugJS, CSS, SCSS, PostCSS, JavaScript, TypeScript, Front End Challenge, Front End Mentor")
        +meta-theme("#3e52a3")

        link(rel="shortcut icon" href="./public/assets/favicons/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="./public/assets/favicons/site.webmanifest")

        +space()

        title Multi Step Form

        +space()

        link(rel="stylesheet" href="./public/index.css")

    body 
        main(class="main" id="main")
            header(class="header" id="header")
                ul(class="header__list" id="header-list" role="list")
                    -
                        const headerList = [
                            { num: "1", step: "step 1", title: "your info", sectionNameID: "info", isActive: true },
                            { num: "2", step: "step 2", title: "select plan", sectionNameID: "plan", isActive: false },
                            { num: "3", step: "step 3", title: "add-ons", sectionNameID: "add-ons", isActive: false },
                            { num: "4", step: "step 4", title: "summary", sectionNameID: "summary", isActive: false }
                        ];

                    each item in headerList
                        li(class=`header__list__item` data-section=item.sectionNameID)
                            +space()
                            span(class=`header__list__item__num ${item.isActive ? "active" : ""}`) #{item.num}

                            div(class="header__list__item__content")
                                +space()
                                span(class="header__list__item__content__step") #{item.step}

                                +space()
                                span(class="header__list__item__content__title") #{item.title}

            section(class="person-info" id="info")
                +head("Personal info", "Please provide your name, email address, and phone number.")

                form(class="person-info__form" action="" method="GET" autocomplete="off")
                    -
                        const formPersonalInfoArray = [
                            { 
                                labelText: "name",
                                inputType: "text",
                                inputPlaceHolder: "e.g. Stephen King",
                                inputID: "person-name",
                                validateMessage: "This field is required"
                            },
                            { 
                                labelText: "email address",
                                inputType: "email",
                                inputPlaceHolder: "e.g. stephenking@lorem.com",
                                inputID: "person-email",
                                validateMessage: "This field is required"
                            },
                            { 
                                labelText: "phone number",
                                inputType: "tel",
                                inputPlaceHolder: "e.g. +1 234 567 890",
                                inputID: "phone-number",
                                validateMessage: "This field is required"
                            },
                        ];

                    each item in formPersonalInfoArray
                        div(class="person-info__form-section")
                            div(class="person-info__form-section__header")
                                label(for=item.inputID) #{item.labelText}
                                span(class="validation") #{item.validateMessage}

                            input(id=item.inputID type=item.inputType name=item.inputID placeholder=item.inputPlaceHolder)

                    input(type="submit" value="next step" class="btn" id="person-info-next")

        script(src="./public/main.bundle.js") 
        +no-script()